@using MVC_50Ders.Models.Entity
@model List<tblMusteriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p class="">
        <label>Aranacak Müşteri Adı:</label> @Html.TextBox("p")
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span> Ara
        </button>
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Alert</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.musteriID</th>
                <td>@item.musteriAd</td>
                <td>@item.musteriSoyad</td>
                <td><a href="/Customer/Delete/@item.musteriID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Customer/GetCustomer/@item.musteriID" class="btn btn-success">Güncelle</a></td>
                <td>@Html.ActionLink("Sil Butonu", "Delete", new { id = item.musteriID }, new { @class = "btn btn-warning btnDeleteCustomer", @onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')", @data_id = item.musteriID })</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a href="/Customer/NewCustomer/" class="btn btn-primary">Yeni Müşteri Ekle</a>
</div>
<script>
    $('.btnDeleteCustomer').click(function () {
        var id = $(this).data('id')
        alert(id + " Numaralı Müşteri Silindi");
    });
</script>